body {
    font-family: 'Trebuchet MS', sans-serif;
}

#curr-schedule {
    padding-top: 2.5%;
}

.schedule-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-list {
    list-style: none;
    margin-bottom: 50px;
    padding: 0;
}

.match-item {
    margin-top: 10px;
}

.match-card {
    width: 50vw;
    max-width: 100%;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.team-name, .match-score {
    margin-top: 15px;
}

.team-logo {
    height: 5vh;
    width: auto;
}

@media (max-width: 768px) {
    .card {
        width: 90vw;
    }
}
